<!--<div ng-repeat="task in deskCtrl.tasks">{{task.title}}</div>-->

<md-content layout-padding flex>
    <div ng-repeat="task in deskCtrl.tasks" layout layout-align="end center">
    <md-whiteframe class="md-whiteframe-2dp" flex="90" flex-xs="85" style="margin-right: 23px;" >
        <md-content layout="column" layout-padding>
            <div style="height: 60px; margin-top: 15px;" layout="row" layout-align="start center">
                <div style="height: 20px; margin-left: 5px;">
                <md-checkbox ng-model="task.isCompleted" ng-click="deskCtrl.completeTask(task)" aria-label="Is completed" class="indigo" >
                </md-checkbox></div>
                <span style="font-size: 24px; margin-left: 20px;" ng-style="{'text-decoration': task.isCompleted?'line-through':'none'}">{{task.title}}</span>
            </div>
            <div style="margin-left: 5px; padding-bottom: 15px;">
                <span style="padding-top: 8px; height: 10px">{{task.notes}}</span>
            </div>
        </md-content>
    </md-whiteframe>
    </div>
</md-content>
