
<md-sidenav class="md-sidenav-left todo-sidebar" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" layout="column" layout-fill flex="grow">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"></h1>
      </md-toolbar>
      <md-content>
        
        <md-list hide-xs show-gt-xs>
            
            <md-list-item class="todo-sidebar-item" ng-click="sidebarCtrl.clearAll()">
                <div>
                <md-icon md-svg-icon="assets/icons/ic_delete_black_48px.svg" ></md-icon>
                <span style="padding-left: 20px;">
                    Clear All
                </span>
                </div>
            </md-list-item>
            
            <md-list-item class="todo-sidebar-item" ng-click="sidebarCtrl.clearDone()">
                <div>
                <md-icon md-svg-icon="assets/icons/ic_clear_black_48px.svg" ></md-icon>
                <span style="padding-left: 20px;">
                    Clear Done
                </span>
                </div>
            </md-list-item>
            
            <md-list-item class="todo-sidebar-item" ng-click="null">
                <div>
                <md-icon md-svg-icon="assets/icons/ic_settings_black_48px.svg" ></md-icon>
                <span style="padding-left: 20px;">
                    Settings
                </span>
                </div>
            </md-list-item>
            
            <md-list-item class="todo-sidebar-item" ng-click="null">
                <div>
                <md-icon md-svg-icon="assets/icons/ic_about_black_48px.svg" ></md-icon>
                <span style="padding-left: 20px;">
                    About
                </span>
                </div>
            </md-list-item>
        </md-list>

      </md-content>
    </md-sidenav>
